@media (min-width: 678px) {
  :root {
    font-size: 3rem;
  }
  .container {
    font-size: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  .container > div:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 4rem;
  }
  .container {
    font-size: 2rem;
  }
}
