* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-primary: white;
  --bg-secondary: lightblue;
  --fg-primary: black;
  --fg-secondary: green;
}

header {
  background-color: red;
  height: 3rem;
}


main {
  height: calc(100vh - 3rem);
  display: flex;
}

aside {
  width: 6rem;
  background-color: blueviolet;
}

ul {
  overflow-y: auto;
  width: 100%;
}

li {
  height: 6rem;
  border: 1px solid red;
}

@media screen and (width >= 1024px) {
  
  /*some style*/
  
}

@media print {
  .main-header {
    display: none;
  }
  aside {
    display: none;
  }
}