* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-primary: white;
  --bg-secondary: lightblue;
  --fg-primary: black;
  --fg-secondary: green;
  --border-color: blue;
  
  --dark-bg-primary: black;
  --dark-fg-primary: white;
  --dark-fg-secondary: red;
  --dark-border-color: white;
}

